@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/***********/
/* General */
/***********/

* {
  box-sizing: border-box;
  
}

html {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      width: 100%;
      margin:0px;
      padding: 0px;
      font-family: "Open Sans", sans-serif;
      line-height: 28px;
      font-weight: lighter;
      scroll-behavior: smooth;
      background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
      margin: 0;
      padding: 0;
      width: 100%;
}


/*****************/
/*Header + Navbar*/
/*****************/


header {
      width: 100%;
      height: 100vh;
      background: url( ) no-repeat 50% 50%;
      background-size: cover;
      background-color: rgba(0,0,0,.5);
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 36px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      margin: 0;
      transition: 1s;
}

.jumbotron-content {
      /*height: 100%;*/
      width:100%;
      padding: 460px 320px 0px 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 900;
      
}

@media (max-device-width: 893px) {
  .jumbotron-content {
    padding: 460px 300px 0px 320px;
  }
}

/*Jumobotron Buttons*/

.jumbotron-btn {
      
  flex: 1 1 auto;
  margin: 100px 0px 0px 0px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /*text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #6A1B9A 0%, #fda085 51%, #6A1B9A 10%);
  text-decoration: none;
 }

.jumbotron-btn:hover {
  background-position: right center; /* change the direction of the change here */
}

/**/
/**/

.jumbotron-content h3 {
      font-family: 'Quicksand', sans-serif;
      font-size: 74px;
      color: #fff;
      margin: 0px;
      line-height: 73px;
}


nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-flex;
      padding: 16px 30px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

.menu {
     display: block;
     justify-content: center;
     width: 100%;
}

.menu ul {
      padding: 0px 0px 0px 44%;
}

body > div > header > nav > div.menu > ul > li.mail-list > a {
      margin-left: 200px;
}
/*****************/
/*Header + Navbar*/
/****Responsive***/
/*****************/

/*Navbar not mobile first */

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

      .jumbotron-content {
            padding: 100px;
      }
}


/**/





#videoBG {
    position:fixed;
    z-index: -1;

}

/***********/
/*Promotion*/
/***********/



/*********/
/*founder*/
/*********/

.founder {
      background: url("assets/images/tiffany.JPG") no-repeat 50% 50%;
}





/********/
/*Button*/
/********/

/********/
/*Footer*/
/********/

footer {
      height: 200px;
      background-color: gray;
}



#sect2 {
      height: 800px;
      background-color: #fff;
}

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 1.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 1.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-8 23:16:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


/**************/
/*Mail Section*/
/**************/

.mail {
      height: 300px;
      background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.mail h1 { 
      color: #ffffff; 
      font-family: 'Raleway',sans-serif; 
      font-size: 62px; 
      font-weight: 800; 
      line-height: 72px; 
      margin: 20px 0 24px; 
      text-align: center; 
      text-transform: uppercase; 
}

.mail h2 {
      /*color: #ffffff; */
      /*font-family: 'Raleway',sans-serif; */
      /*font-size: 30px; */
      /*font-weight: 400; */
      /*line-height: 36px; */
      /*margin: 0 0 24px; */
      /*text-align: center; */
}

.bg-gradient3 span, .bg-gradient3:before {
  background: #EA80FC;
  background: linear-gradient(to right, #EA80FC 0%, #EA80FC 80%, #EA80FC 100%);
}

/* General */
.wrapper {
  margin: 0px;
  text-align: center;
  -webkit-transform-style: perserve-3d;
          transform-style: perserve-3d;
  perspecive: 800px;
}

/* fancy Button */
.fancy-button {
  display: inline-block;
  margin: 30px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.fancy-button:before {
  content: '';
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -5px;
  left: 30px;
  right: 30px;
  z-index: -1;
  border-radius: 30em;
  -webkit-filter: blur(20px) brightness(0.95);
          filter: blur(20px) brightness(0.95);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}

.fancy-button span {
  display: inline-block;
  padding: 18px 60px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}

.fancy-button:focus, .fancy-button:active {
  color: #ffffff;
}

.fancy-button:hover {
  color: #ffffff;
}

.fancy-button:hover span {
  -webkit-filter: brightness(1.05) contrast(1.05);
          filter: brightness(1.05) contrast(1.05);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.fancy-button:hover:before {
  bottom: 0;
  -webkit-filter: blur(10px) brightness(0.95);
          filter: blur(10px) brightness(0.95);
}

.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}

.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.fancy-button.pop-onhover:hover span {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.fancy-button.pop-onhover:hover:active span {
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all 0.15s ease-out;
}

.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  -webkit-filter: blur(10px) brightness(0.95);
          filter: blur(10px) brightness(0.95);
  transition: all 0.2s ease-out;
}
